<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
</head>

<body>
	<h2>ログイン画面</h2>
	<!-- エラー表示 -->
	<div th:if="${param.error}">
		<p style="color: red;">usernameまたはpasswordが違います</p>
	</div>
	<!--ログアウト表示 -->
	<div th:if="${param.logout}">
		<p style="color: blue">ログアウトしました</p>
	</div>
	<form th:action="@{/authentication}" method="post" th:object="${loginForm}">
		<!-- ★この1行を追加★ -->
<!--		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
		
		<div><!-- ユーザー名 -->
			<label for="usernameInput">username</label>
			<input type="text" th:field="*{usernameInput}">
		</div>
		<div><!-- パスワード -->
			<label for="passwordInput">password</label>
			<input type="password" th:field="*{passwordInput}">
		</div>
		<div>
			<input type="submit" value="login">
		</div>
	</form>
</body>
</html>